@import '../variables';
@import 'side_hashtag';
@import 'side_rank';

.main {
  &-contents {
    display: flex;
    padding: 10px;
    border: 1px solid $default-border;
    &:hover {
      background-color:rgba($color: $theme-color, $alpha: 0.1);
    }
    &:not(:last-of-type) {
      border-bottom: none;
    }
    &-sort {
      display: flex;
      &-title {
        width: 55px;
        text-align: center;
        margin-left: 16px;
        font-size: 20px;
        color: $default-color;
        &:hover {
          text-decoration: none;
          color: $theme-color;
        }
        &.selected {
          color: $theme-color;
          border-bottom: 2px solid $theme-color;
        }
      }
    }
    &-user {
      &-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        &-wrapper {
          margin-right: 10px;
        }
      }
      &-name {
        margin: 0;
        font-size: 18px;
        color: black;
        &:hover {
          color: $theme-color;
        }
      }
    }
    &-row {
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
      align-items: center;
    }
    &-info {
      width: 100%;
    }
    &-hashtag {
      color: $default-color;
      border: 1px solid $default-border;
      border-radius: 20px;
      padding: 2px 30px;
      &:hover {
        background-color: $theme-color;
        color: #fff;
        text-decoration: none;
        border: 1px solid $theme-color;
      }
    }
    &-content {
      color: black;
      &:hover {
        color: $theme-color;
      }
    }
    &-heart {
      color: $heart-color;
    }
    &-comment {
      margin-left: 10px;
      color: $comment-color;
    }
    &-count {
      margin-top: 2px;
    }
  }
}
