<section class="section-rank">
  <h4><i class="fas fa-heart rank-heart"></i> ランキング</h4>
  <hr class="section-hr">
  <div class="rank-user">
    <span class="rank-number">1</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-heart rank-heart"></i> 90</span>
  </div>
  <div class="rank-user">
    <span class="rank-number">2</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-heart rank-heart"></i> 90</span>
  </div>
  <div class="rank-user">
    <span class="rank-number">3</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-heart rank-heart"></i> 90</span>
  </div>
  <div class="rank-user">
    <span class="rank-number">4</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-heart rank-heart"></i> 90</span>
  </div>
  <div class="rank-user">
    <span class="rank-number">5</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-heart rank-heart"></i> 90</span>
  </div>
  <div class="rank-user">
    <span class="rank-number">6</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-heart rank-heart"></i> 90</span>
  </div>
  <div class="rank-user">
    <span class="rank-number">7</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-heart rank-heart"></i> 90</span>
  </div>
  <div class="rank-user">
    <span class="rank-number">8</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-heart rank-heart"></i> 90</span>
  </div>
  <div class="rank-user">
    <span class="rank-number">9</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-heart rank-heart"></i> 90</span>
  </div>
  <div class="rank-user rank-user-last">
    <span class="rank-number">10</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-heart rank-heart"></i> 90</span>
  </div>
</section>

<section class="section-rank">
  <h4><i class="fas fa-comment-alt rank-comment"></i> ランキング</h4>
  <hr class="section-hr">
  <div class="rank-user">
    <span class="rank-number">1</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-comment-alt rank-comment"></i> 90</span>
  </div>
  <div class="rank-user">
    <span class="rank-number">2</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-comment-alt rank-comment"></i> 90</span>
  </div>
  <div class="rank-user">
    <span class="rank-number">3</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-comment-alt rank-comment"></i> 90</span>
  </div>
  <div class="rank-user">
    <span class="rank-number">4</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-comment-alt rank-comment"></i> 90</span>
  </div>
  <div class="rank-user">
    <span class="rank-number">5</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-comment-alt rank-comment"></i> 90</span>
  </div>
  <div class="rank-user">
    <span class="rank-number">6</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-comment-alt rank-comment"></i> 90</span>
  </div>
  <div class="rank-user">
    <span class="rank-number">7</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-comment-alt rank-comment"></i> 90</span>
  </div>
  <div class="rank-user">
    <span class="rank-number">8</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-comment-alt rank-comment"></i> 90</span>
  </div>
  <div class="rank-user">
    <span class="rank-number">9</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-comment-alt rank-comment"></i> 90</span>
  </div>
  <div class="rank-user rank-user-last">
    <span class="rank-number">10</span>
    <a class="rank-user-name" href=""><img src="/assets/icon/user.png" alt="" class="rank-user-icon">Togettherくん</a>
    <span class="rank-count"><i class="fas fa-comment-alt rank-comment"></i> 90</span>
  </div>
</section>