<section class="section">
    <div class="main-contents-wrapper">
      <div class="main-contents-sort">
        <a href="" class="main-contents-sort-title selected">新着</a>
        <a href="" class="main-contents-sort-title">週間</a>
        <a href="" class="main-contents-sort-title">月間</a>
      </div>
      <div class="main-contents">
        <div class="main-contents-user-icon-wrapper">
          <a href="" class="main-contents-user">
            <img src="/assets/icon/user.png" alt="" class="main-contents-user-icon">
          </a>
        </div>
        <div class="main-contents-info">
          <div class="main-contents-row">
            <a href="" class="main-contents-user-name">ユーザー名</a>
            <a href="" class="main-contents-hashtag"># 食事</a>
          </div>
          <a href="" class="main-contents-content">こんにちは。お腹すきました。ご飯いきましょう。</a>
          <div class="main-contents-row">
            <div class="main-contents-count">
              <i class="far fa-heart main-contents-heart"></i> 12
              <i class="far fa-comment-alt main-contents-comment"></i> 12
            </div>
            <span class="main-contents-date">2020-10-13 21:00:12</span>
          </div>
        </div>
      </div>
      <div class="main-contents">
        <div class="main-contents-user-icon-wrapper">
          <a href="" class="main-contents-user">
            <img src="/assets/icon/user.png" alt="" class="main-contents-user-icon">
          </a>
        </div>
        <div class="main-contents-info">
          <div class="main-contents-row">
            <a href="" class="main-contents-user-name">ユーザー名</a>
            <a href="" class="main-contents-hashtag"># 食事</a>
          </div>
          <a href="" class="main-contents-content">こんにちは。お腹すきました。ご飯いきましょう。</a>
          <div class="main-contents-row">
            <div class="main-contents-count">
              <i class="far fa-heart main-contents-heart"></i> 12
              <i class="far fa-comment-alt main-contents-comment"></i> 12
            </div>
            <span class="main-contents-date">2020-10-13 21:00:12</span>
          </div>
        </div>
      </div>
      <div class="main-contents">
        <div class="main-contents-user-icon-wrapper">
          <a href="" class="main-contents-user">
            <img src="/assets/icon/user.png" alt="" class="main-contents-user-icon">
          </a>
        </div>
        <div class="main-contents-info">
          <div class="main-contents-row">
            <a href="" class="main-contents-user-name">ユーザー名</a>
            <a href="" class="main-contents-hashtag"># 食事</a>
          </div>
          <a href="" class="main-contents-content">こんにちは。お腹すきました。ご飯いきましょう。</a>
          <div class="main-contents-row">
            <div class="main-contents-count">
              <i class="far fa-heart main-contents-heart"></i> 12
              <i class="far fa-comment-alt main-contents-comment"></i> 12
            </div>
            <span class="main-contents-date">2020-10-13 21:00:12</span>
          </div>
        </div>
      </div>
      <div class="main-contents">
        <div class="main-contents-user-icon-wrapper">
          <a href="" class="main-contents-user">
            <img src="/assets/icon/user.png" alt="" class="main-contents-user-icon">
          </a>
        </div>
        <div class="main-contents-info">
          <div class="main-contents-row">
            <a href="" class="main-contents-user-name">ユーザー名</a>
            <a href="" class="main-contents-hashtag"># 食事</a>
          </div>
          <a href="" class="main-contents-content">こんにちは。お腹すきました。ご飯いきましょう。</a>
          <div class="main-contents-row">
            <div class="main-contents-count">
              <i class="far fa-heart main-contents-heart"></i> 12
              <i class="far fa-comment-alt main-contents-comment"></i> 12
            </div>
            <span class="main-contents-date">2020-10-13 21:00:12</span>
          </div>
        </div>
      </div>
      <div class="main-contents">
        <div class="main-contents-user-icon-wrapper">
          <a href="" class="main-contents-user">
            <img src="/assets/icon/user.png" alt="" class="main-contents-user-icon">
          </a>
        </div>
        <div class="main-contents-info">
          <div class="main-contents-row">
            <a href="" class="main-contents-user-name">ユーザー名</a>
            <a href="" class="main-contents-hashtag"># 食事</a>
          </div>
          <a href="" class="main-contents-content">こんにちは。お腹すきました。ご飯いきましょう。</a>
          <div class="main-contents-row">
            <div class="main-contents-count">
              <i class="far fa-heart main-contents-heart"></i> 12
              <i class="far fa-comment-alt main-contents-comment"></i> 12
            </div>
            <span class="main-contents-date">2020-10-13 21:00:12</span>
          </div>
        </div>
      </div>
      <div class="main-contents">
        <div class="main-contents-user-icon-wrapper">
          <a href="" class="main-contents-user">
            <img src="/assets/icon/user.png" alt="" class="main-contents-user-icon">
          </a>
        </div>
        <div class="main-contents-info">
          <div class="main-contents-row">
            <a href="" class="main-contents-user-name">ユーザー名</a>
            <a href="" class="main-contents-hashtag"># 食事</a>
          </div>
          <a href="" class="main-contents-content">こんにちは。お腹すきました。ご飯いきましょう。</a>
          <div class="main-contents-row">
            <div class="main-contents-count">
              <i class="far fa-heart main-contents-heart"></i> 12
              <i class="far fa-comment-alt main-contents-comment"></i> 12
            </div>
            <span class="main-contents-date">2020-10-13 21:00:12</span>
          </div>
        </div>
      </div>
      <div class="main-contents">
        <div class="main-contents-user-icon-wrapper">
          <a href="" class="main-contents-user">
            <img src="/assets/icon/user.png" alt="" class="main-contents-user-icon">
          </a>
        </div>
        <div class="main-contents-info">
          <div class="main-contents-row">
            <a href="" class="main-contents-user-name">ユーザー名</a>
            <a href="" class="main-contents-hashtag"># 食事</a>
          </div>
          <a href="" class="main-contents-content">こんにちは。お腹すきました。ご飯いきましょう。</a>
          <div class="main-contents-row">
            <div class="main-contents-count">
              <i class="far fa-heart main-contents-heart"></i> 12
              <i class="far fa-comment-alt main-contents-comment"></i> 12
            </div>
            <span class="main-contents-date">2020-10-13 21:00:12</span>
          </div>
        </div>
      </div>
      <div class="main-contents">
        <div class="main-contents-user-icon-wrapper">
          <a href="" class="main-contents-user">
            <img src="/assets/icon/user.png" alt="" class="main-contents-user-icon">
          </a>
        </div>
        <div class="main-contents-info">
          <div class="main-contents-row">
            <a href="" class="main-contents-user-name">ユーザー名</a>
            <a href="" class="main-contents-hashtag"># 食事</a>
          </div>
          <a href="" class="main-contents-content">こんにちは。お腹すきました。ご飯いきましょう。</a>
          <div class="main-contents-row">
            <div class="main-contents-count">
              <i class="far fa-heart main-contents-heart"></i> 12
              <i class="far fa-comment-alt main-contents-comment"></i> 12
            </div>
            <span class="main-contents-date">2020-10-13 21:00:12</span>
          </div>
        </div>
      </div>
      <div class="main-contents">
        <div class="main-contents-user-icon-wrapper">
          <a href="" class="main-contents-user">
            <img src="/assets/icon/user.png" alt="" class="main-contents-user-icon">
          </a>
        </div>
        <div class="main-contents-info">
          <div class="main-contents-row">
            <a href="" class="main-contents-user-name">ユーザー名</a>
            <a href="" class="main-contents-hashtag"># 食事</a>
          </div>
          <a href="" class="main-contents-content">こんにちは。お腹すきました。ご飯いきましょう。</a>
          <div class="main-contents-row">
            <div class="main-contents-count">
              <i class="far fa-heart main-contents-heart"></i> 12
              <i class="far fa-comment-alt main-contents-comment"></i> 12
            </div>
            <span class="main-contents-date">2020-10-13 21:00:12</span>
          </div>
        </div>
      </div>
      <div class="main-contents">
        <div class="main-contents-user-icon-wrapper">
          <a href="" class="main-contents-user">
            <img src="/assets/icon/user.png" alt="" class="main-contents-user-icon">
          </a>
        </div>
        <div class="main-contents-info">
          <div class="main-contents-row">
            <a href="" class="main-contents-user-name">ユーザー名</a>
            <a href="" class="main-contents-hashtag"># 食事</a>
          </div>
          <a href="" class="main-contents-content">こんにちは。お腹すきました。ご飯いきましょう。</a>
          <div class="main-contents-row">
            <div class="main-contents-count">
              <i class="far fa-heart main-contents-heart"></i> 12
              <i class="far fa-comment-alt main-contents-comment"></i> 12
            </div>
            <span class="main-contents-date">2020-10-13 21:00:12</span>
          </div>
        </div>
      </div>
    </div>
  </section>