@import 'variables.scss';

.login {
  &-info {
    display: flex;
    justify-content: space-around;
    width: 1100px;
    margin: 0 auto;
    position: relative;
    top: 90px;
    margin: 0 auto;
    &-wrapper {
      width: 400px;
      border: 1px solid #B4B3B3;
      border-radius: 13px;
      padding: 22px;
      > .login-info-title-first:first-of-type {
        margin-top: 0;
      }
    }
    &-title {
      margin-bottom: 4px;
      &-social {
        text-align: center;
        font-size: 18px;
        margin-bottom: 50px;
      }
    }
    &-input {
      width: 100%;
      box-sizing:border-box;
      box-shadow: none;
      padding: 8px;
      font-size: 18px;
      height: 40px;
      border: 1px solid $default-border;
      border-radius: 7px;
      margin-bottom: 5px;
      &:focus {
        outline: none;
      }
    }
    &-btn {
      width: 100%;
      height: 40px;
      background-color: #259A33;
      border: none;
      color: #fff;
      font-size: 16px;
      border-radius: 7px;
      cursor: pointer;
      outline: none;
      &:hover {
        transition: 0.3s;
        background-color: #237B2D;
      }
      &-wrapper {
        margin-top: 30px;
      }
    }
    &-link {
      display: block;
      text-align: right;
      text-decoration: none;
      margin-top: 36px;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
    &-img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      vertical-align: middle;
    }
    &-social {
      &-link {
        display: block;
        margin: 0 auto;
        border: 1px solid $default-border;
        padding: 4px;
        text-align: center;
        padding: 10px;
        border-radius: 7px;
        margin-bottom: 40px;
        color: #000000;
        text-decoration: none;
        width: 70%;
        &:hover {
          background-color: #DEDBDB;
          transition: 0.3s;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
